$background_color:#202020;
$h1-size: 50px;
$p-color: black;
*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0.5%;
}
body
{
    background-color: #202020;
}
header h2
{
    font-family: fantasy;
    color: #202020;
    letter-spacing: 3px;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main
{
    margin-left: 5%;
    margin-top: 10%;
    h1
    {
        font-size: $h1-size;
        color: $p-color
    }
    h3
    {
        font-size: 30px;
        color: $p-color;
    }
    button
    {
        background-color: transparent;
        width: 10%;
        height: 5%;
        border-color: black;
        color: black;
        font-size: 15px;
        margin-top: 5%;
        margin-left: 1%;
    }
}
.inf_menu
{
    margin-top: 400px;
    margin-left: 35%;
    
    h1
{
    color: black;
    margin-left: 4%;
}
p
{
    font-size: 20px;
    color: #7c7c7cc4;
}
}
.img-inf
{
    display: flex;
    .n_t
    {
        border-bottom: 1px solid black;
        font-size: 35px;
    }
    .p_d
{
    padding: 10px 25px;
}
.n-t-p
{
    font-size: 20px;
}
.R_more
{


    color: #337ab7;
    margin-top: 20px;
}
}
.p_k
{
    margin-top: 400px;
    margin-left: 35%;
    
    .o_n
{
    color: black;
    font-size: 50px;
}
    .p_k_e
{
    font-size: 25px;
    color: #7c7c7cc4;
    margin-left: 18%;
}
}
.our_knowladge
{
    display: flex;
    
    .p_n
{
    padding: 10px 25px;
}
    .p_n_p
{
    font-size: 20px;
}
    .r_more2
{
    color: #337ab7;
    margin-top: 20px;
}
}